.navbar:hover{
    opacity: 0.7;
}
.navbar-brand{
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
.nav-link{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: white;
}
.fa:hover{
    opacity: 0.7;
}
.fa-linkedin{
    background: skyblue;
    color: white;
}
.fa-github{
    background: skyblue;
    color: white;
}
.fa-twitter{
    background: skyblue;
    color: white;
}
.card-body{
    background-image: url(desktopphoto.jpg);
    text-align: center;
    position: relative;
}
.card-title{
    font-size: 40px;
    height: 200px;
    text-align: center;
    
}
.card-text{
    font-size: 75px;
    font-family: 'Pacifico', cursive;
    font-family: 'Amatic SC', cursive;
    color: white;
}
.button{
    color: honeydew;
}
.button:hover{
    opacity: 0.7;
}